@import "../global.less";

.side-panel {
	background-color: var(--menu-background-color);
	position: absolute;
	top: @headerHeight;
	left: 0px;
	right: 75%;
	bottom: 0;
	padding: 20px;
	padding-top: 15px;
	border-right: 1px solid var(--border-color);
	counter-reset: steps;

	h3::before {
		display: inline-block;
		counter-increment: steps;
		content: counter(steps);
		color: var(--menu-background-color);
		background-color: var(--accent-color);
		width: 1.5em;
		height: 1.5em;
		border-radius: 0.75em;
		text-align: center;
		margin-right: .5em;
		position: relative;
	}
}
