* {
	--text-color: #111;
	--background-color: #fff;
	--menu-background-color: #f0f1f2;
	--hovered-background-color: #e8e9eb;
	--border-color: #ccc;
	--shaded-color: #666;
	--accent-color: #00a2de;
}

@media (prefers-color-scheme: dark) {
	* {
		--text-color: #fff;
		--background-color: #222;
		--menu-background-color: #333;
		--hovered-background-color: #3e3e3e;
		--border-color: #555;
	}
}
