@font-face {
	font-family: 'Bitter';
	font-weight: 100 900;
	src: url('/assets/fonts/Bitter.woff2');
}

@font-face {
	font-family: 'Bitter';
	font-weight: 100 900;
	font-style: italic;
	src: url('/assets/fonts/Bitter-Italic.woff2');
}

.standard-font-settings() {
	font-family: 'Bitter';
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.01em;
	line-height: 1.5;
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
	.standard-font-settings();
}

p {
	margin: 10px 0;
}

input,
select {
	.standard-font-settings();
	border: 1px solid var(--border-color);
	background-color: var(--background-color);
	color: var(--text-color);
	padding: 5px;
}

button {
	.standard-font-settings();
	border: 1px solid var(--border-color);
	background-color: var(--menu-background-color);
	color: var(--text-color);
	padding: 5px;
}

button:hover {
	background-color: var(--hovered-background-color);
}

@headerHeight: 48px;

#overlay {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 10;
	display: none;
	background-color: rgba(255, 255, 255, 0.5);

	&.shown {
		display: block;
	}
}
